* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: auto;
  height: 70px;
  background-color: #EC715F;
  line-height: 70px;
  display: flex;
  justify-content: center;
}

.header-items {
  width: 1024px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.header-logo img {
  height: 70px;
}

.container {
  height: 70px;
  display: flex;
}

.item {
  list-style: none;
  font-size: 16px;
  color: #FAFAFA;
  padding: 0 30px
}

main {
  width: auto;
  margin: 0 auto;
}

.main-visual {
  height: 650px;
  background-image: url(img/mv.png);
  background-position: center;
  background-size: 100%;
  text-align: center;
}

.visual-title {
  font-size: 64px;
  padding-top: 200px;
  color: #FAFAFA;
}

.visual-sub {
  font-size: 20px;
  padding-top: 10px;
  color: #FAFAFA;
}

.portfolio {
  height: auto;
  background-color: #ECEFF1;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container2 {
  width: 920px;
  padding: 90px 0;
}

.portfolio-title {
  font-size: 32px;
  color: #000000;
}

.bar {
  width: 70px;
  height: 3px;
  background-color: #EC715F;
  margin: 8px auto;
}

.portfolio-sub {
  font-size: 16px;
  padding: 30px 0;
}

.container3 {
  display: flex;
}

.item1 {
  width: 300px;
  height: 250px;
  background-image: url(img/sketch.jpg);
  background-position: center;
  background-size: 300px 250px;
}

.item2 {
  width: 300px;
  height: 250px;
  margin: 0 10px;
  background-image: url(img/websuku.png);
  background-position: center;
  background-size: 150%;
}

.item3 {
  width: 300px;
  height: 250px;
  background-image: url(img/write.jpg);
  background-position: center;
  background-size: 300px 250px;
}

.container4 {
  display: flex;
}

.item4 {
  width: 300px;
  height: 250px;
  margin-top: 10px;
  background-image: url(img/webcamp.png);
  background-position: center;
  background-size: 150%;
}

.item5 {
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 10px;
  background-image: url(img/talk.jpg);
  background-position: center;
  background-size: 300px 250px;
}

.item6 {
  width: 300px;
  height: 250px;
  margin-top: 10px;
  background-image: url(img/webcamp-mother.png);
  background-position: center;
  background-size: 150%;
}

.feature {
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container5 {
  width: 980px;
  padding: 90px 0;
}

.feature-title {
  font-size: 32px;
  color: #000000;
}

.feature-sub {
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
}

.container6 {
  display: flex;
}

.row2 {
  padding: 0 10px;
}

.fa-dumbbell {
  font-size: 60px;
}

.fa-dumbbell-title {
  font-size: 20px;
  color: #000000;
  padding: 10px 0;
}

.fa-dumbbell-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.fa-hand-fist {
  font-size: 60px;
}

.fa-hand-fist-title {
  font-size: 20px;
  color: #000000;
  padding: 10px 0;
}

.fa-hand-fist-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.fa-street-view {
  font-size: 60px;
}

.fa-street-view-title {
  font-size: 20px;
  color: #000000;
  padding: 10px 0;
}

.fa-street-view-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.profile {
  height: auto;
  background-color: #ECEFF1;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container7 {
  width: 1024px;
  padding: 90px 0;
}

.profile-title {
  font-size: 32px;
  color: #000000;
}

.profile-sub {
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
}

.container8 {
  display: flex;
}

.profile-item1 {
  width: 520px;
}

.profile-photo {
  border-radius: 100%;
}

.profile-item2 {
  width: 520px;
  text-align: left;
}

.myname {
  font-size: 20px;
  padding-bottom: 5px;
}

.myname-item {
  font-size: 16px;
  color: #000000;
  padding-bottom: 20px;
}

.myskills {
  font-size: 20px;
  padding-bottom: 5px;
}

.myskills-item {
  font-size: 16px;
  color: #000000;
}

.contact {
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container9 {
  width: 800px;
  padding: 90px 0;
}

.contact-title {
  font-size: 32px;
  color: #000000;
}

.contact-sub {
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
}

.container10 {
  display: flex;
}

.contact-field1 {
  width: 400px;
  display: block;
}

.contact-text {
  font-size: 20px;
  padding-bottom: 5px;
  
}

.contact-item {
  font-size:16px;
  margin-bottom: 20px;
}

.contact-field2 {
  width: 400px;
  display: block;
}

.fa-brands {
  font-size: 50px;
}

.fa-twitter {
  padding: 0 20px;
}